Brigitta Sipőcz <bsipocz@gmail.com>
Brigitta Sipőcz <bsipocz@gmail.com> <b.sipocz@gmail.com>
David Pérez-Suárez <dps.helio@gmail.com>
E. Madison Bray <erik.m.bray@gmail.com>
E. Madison Bray <erik.m.bray@gmail.com> <embray@stsci.edu>
Kyle D Fawcett <kfawcett@mitre.org> <45832007+kylefawcett@users.noreply.github.com>
Hans Moritz Günther <moritz.guenther@gmx.de>
Marco Rossi <developer@marco-rossi.com> <marco.rossi@benteler.com>
Matt Davis <jiffyclub.programatic@gmail.com>
P. L. Lim <2090236+pllim@users.noreply.github.com>
Simon Conseil <contact@saimon.org> <simon.conseil@lam.fr>
Stuart Mumford <stuart@cadair.com> <stuart@mumford.me.uk>