jobs:

- template: azure-template.yml
  parameters:
    name: Linux
    os: linux

- template: azure-template.yml
  parameters:
    name: MacOSX
    os: macosx

- template: azure-template.yml
  parameters:
    name: Windows
    os: windows
